/*
    基本設定:reset
*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Hoefler Text", "Songti TC", serif;
    font-size: 18px;
    color: #696969;
    line-height: 1.5;
    font-weight: normal;
}


/* 設定 row*/

.row {
    width: 100%;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}


/* 設定column */

[class^="col-"] {
    float: left;
    padding: 0px;
    /*行動優先 這樣小螢幕的 media query可以省略*/
    width: 100%;
}

nav {
    width: 100%;
    height: 45px;
    position: fixed;
    top: 0px;
    left: 0px;
    background: linear-gradient(to bottom, #f85032 0%, #f02f17 2%, #f02f17 2%, #f16f5c 50%, #f6290c 51%, #e73827 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.empty {
    padding: 5px;
    color: aqua;
}

.btn {
    color: aliceblue;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
    line-height: 45px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    font-family: "Hoefler Text", "Songti TC", serif;
}

.row .row>div:first-child {
    border-left: 1.5px solid white;
}

.row .row>div:last-child {
    border-right: 1.5px solid white;
}

.btn:hover {
    background: linear-gradient(to bottom, #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.btn:active {
    position: relative;
    top: 1px;
}


/* 平板電腦 */

@media screen and (min-width:768px) and (max-width:991px) {
    .col-sm-1 {
        width: calc(100% * 1 / 12);
    }
    .col-sm-2 {
        width: calc(100% * 2 / 12);
    }
    .col-sm-3 {
        width: calc(100% * 3 / 12);
    }
    .col-sm-4 {
        width: calc(100% * 4 / 12);
    }
    .col-sm-5 {
        width: calc(100% * 5 / 12);
    }
    .col-sm-6 {
        width: calc(100% * 6 / 12);
    }
    .col-sm-7 {
        width: calc(100% * 7 / 12);
    }
    .col-sm-8 {
        width: calc(100% * 8 / 12);
    }
    .col-sm-9 {
        width: calc(100% * 9 / 12);
    }
    .col-sm-10 {
        width: calc(100% * 10 / 12);
    }
    .col-sm-11 {
        width: calc(100% * 11 / 12);
    }
    .col-sm-12 {
        width: calc(100% * 12 / 12);
    }
    .empty {
        display: none;
    }
    header {
        margin-top: 90px;
    }
}


/* 中等以上螢幕 */

@media screen and (min-width:992px) {
    .col-md-1 {
        width: calc(100% * 1 / 12);
    }
    .col-md-2 {
        width: calc(100% * 2 / 12);
    }
    .col-md-3 {
        width: calc(100% * 3 / 12);
    }
    .col-md-4 {
        width: calc(100% * 4 / 12);
    }
    .col-md-5 {
        width: calc(100% * 5 / 12);
    }
    .col-md-6 {
        width: calc(100% * 6 / 12);
    }
    .col-md-7 {
        width: calc(100% * 7 / 12);
    }
    .col-md-8 {
        width: calc(100% * 8 / 12);
    }
    .col-md-9 {
        width: calc(100% * 9 / 12);
    }
    .col-md-10 {
        width: calc(100% * 10 / 12);
    }
    .col-md-11 {
        width: calc(100% * 11 / 12);
    }
    .col-md-12 {
        width: calc(100% * 12 / 12);
    }
}

body >.row:nth-child(4) {
    height: 120px;
    background-color: #f2f2f2;
}

br {
    font-size: 22px;
}

p {
    font-size: 19px;
    line-height: 50px;
    text-align: center;
}

header {
    margin-top: 45px;
    width: 100%;
    height: 350px;
    text-align: center;
    background-color: #2f99bc;
    background-size: cover;
    background-repeat: no-repeat;
    background: url(http://2.bp.blogspot.com/-6ESGCeY5plk/U2EG_dMA6sI/AAAAAAAADaI/6AxZ69MWXwU/s1600/IMG_4504.JPG)
}

header h1 {
    color: aliceblue;
    margin-top: 190px;
    font-size: 80px;
    text-align: left;
    margin-left: 170px;
    float: left;
    font-weight: 900;
}

.content {
    padding: 50px;
    background-color: #f2f2f2;
    color: black;
    height: 420px;
}

.p-frame {
    padding-right: 20px;
    padding-top: 40px;
    background-color: #F2f2f2;
}

.picture {
    color: black;
    text-align: center;
    height: 380px;
    padding-top: 30px;
    background: url(https://scontent-hkg3-1.xx.fbcdn.net/v/t35.0-12/13340906_887999817995130_1391729174_o.jpg?oh=5103188de1ce52808988a383da50e25a&oe=574E89F8);
    background-size: cover;
    background-repeat: no-repeat;
}

img {
    width: 100%;
    margin: 0px auto;
}

.mid-header {
    background-color: #ffc853;
    height: 150px;
    font-size: 60px;
    padding-top: 50px;
    text-align: center;
    color: #556b2f;
    font-weight: 600;
    border: 1px solid white;
    background :url(https://www.google.com.tw/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwiTxfytqoXNAhWj2qYKHThvD0gQjRwIBw&url=http%3A%2F%2Fm.shejiben.com%2Fcaizhi%2Ft11968.html&psig=AFQjCNG0-ElYZXizZyRc3qZAoMRHuqY5Ag&ust=1464819049858178);
}

.container {
    padding: 90px;
    background-color: #2f99bc;
    text-align: center;
    float: left;
}

.container .col-md-3 {
    display: inline-block;
    float: right;
}

.thumbnail {
    padding: 5px;
    margin: 15px;
    text-align: center;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 4px 4px 3px rgba(20%, 20%, 40%, 0.5);
}

.thumbnail img {
    width: 100%;
}

.thumbnail h1 {
    font-size: 22px;
    color: black;
}

.thumbnail p {
    padding: 5px;
    line-height: 1.2;
    letter-spacing: 1px;
}

footer {
    height: 100px;
    background-color: black;
}

li a {
    background-color: #fff;
    color: 333;
    display: block;
    padding: 0 30px;
    text-decoration: none;
    line-height: 60px;
    width: 100%;
    margin: 0px;
    font-size: 25px;
}

li {
    display: none;
}

.btn:hover li {
    display: block;
}

.btn:hover li a:hover {
    background-color: #ff4500;
    color: white;
}
